<html>
<body>
<style>
    .button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }
</style>
Hello <span th:text="${fullName}"/>,
<p>
    <span th:text="${situationRoomName}"/> created by <span th:text="${creatorFullName}"/> is now resolved. The room will be archived now.<br/>
</p>
<p><a th:href="@{${lctUrl}}" class="button">VIEW ROOM</a></p>
<p>Thanks for your help in resolving this situation. </p>
</body>
</html>